.bammemo-slip-detail-property-wrap {
    --neutral-foreground-rest: var(--accent-foreground-active);
}

.bammemo-slip-detail-property-wrap, .bammemo-slip-detail-property-content {
    width: 100%;
}

.bammemo-slip-detail-property-content {
    margin-top: 0.5rem;
    color: var(--accent-foreground-active);
}

.bammemo-slip-detail-property-wrap ::deep fluent-anchor::part(control) {
    color: var(--accent-foreground-active);
}

    .bammemo-slip-detail-property-wrap ::deep fluent-anchor::part(control):hover {
        opacity: 0.8;
    }