.bammemo-slip-card-head-wrap {
    width: 100%;
}

::deep .bammemo-slip-card-head {
    width: 100%;
    /* 覆盖 toolbar 自带 padding */
    padding: 0;
}

::deep fluent-toolbar::part(positioning-region) {
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

::deep .bammemo-slip-card-title {
    flex: auto;
    width: 100%;
    /* 覆盖 toolbar 内部元素 自带 margin */
    margin: 0;
}

.bammemo-slip-card-head-action {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-items: center;
    align-items: center;
    justify-content: end;
    width: 100%;
    /* 覆盖 toolbar 内部元素 自带 margin */
    margin: 0;
}
