@rendermode InteractiveAuto
@inject NavigationManager Navigation

<div class="bammemo-slip-tag-links">
    @if (Tags?.Any() ?? false)
    {
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="@(16/2)" VerticalGap="@(16/4)" Wrap>
            @foreach (var tag in Tags)
            {
                <FluentAnchor Href="@($"/?tags={Uri.EscapeDataString(tag)}")"
                              Appearance="Appearance.Hypertext"
                              IconStart="@(new Icons.Regular.Size16.NumberSymbol().WithColor(Color.Neutral))">
                    @tag
                </FluentAnchor>
            }
        </FluentStack>
    }
</div>

@code {
    [Parameter]
    public required string[]? Tags { get; set; }
}
