.bammemo-slip-calendar ::deep .fluent-calendar {
    --neutral-foreground-rest: var(--accent-foreground-active);
}

.bammemo-slip-calendar ::deep .fluent-calendar {
    height: 250px;
    width: 250px;
}

    .bammemo-slip-calendar ::deep .fluent-calendar .title {
        font-weight: 500;
        padding-left: 0;
        font-size: 1.1em;
    }

    .bammemo-slip-calendar ::deep .fluent-calendar .week-day {
        font-weight: 500 !important;
    }

    .bammemo-slip-calendar ::deep .fluent-calendar .fluent-year .year,
    .bammemo-slip-calendar ::deep .fluent-calendar .fluent-month .month,
    .bammemo-slip-calendar ::deep .fluent-calendar .days .day {
        border-radius: calc(var(--control-corner-radius) * 1px)
    }

        .bammemo-slip-calendar ::deep .fluent-calendar .fluent-year .year[selected],
        .bammemo-slip-calendar ::deep .fluent-calendar .fluent-month .month[selected],
        .bammemo-slip-calendar ::deep .fluent-calendar .day[selected] {
            border-radius: calc(var(--control-corner-radius) * 1px)
        }

        .bammemo-slip-calendar ::deep .fluent-calendar .days .day:not([selected]):not([multi-day])[today] {
            border-radius: calc(var(--control-corner-radius) * 1px)
        }

.bammemo-slip-calendar-day-published {
    font-weight: 700;
    border-radius: calc(var(--control-corner-radius) * 1px);
}
