::deep fluent-anchor::part(control) {
    text-decoration: none !important;
}

::deep fluent-anchor.bammemo-slip-card-title-main::part(control) {
    /* text-xl */
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}