@inherits LayoutComponentBase

<FluentLayout>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <SiteNav />
        <FluentBodyContent Class="body-content">
            <FluentStack Orientation="Orientation.Vertical" Class="body-stack">
                <div class="content">
                    @Body
                </div>

                <BammemoFooter />
            </FluentStack>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

<FluentDialogProvider />
<FluentMenuProvider />
<FluentToastProvider />

<script type="text/javascript" src="/js/highlight-extensions.js"></script>

<script type="text/javascript">
    var bammemo = {
        autoResizeSlipEditorTextarea: function (event){
            if(event.target instanceof HTMLTextAreaElement
                && event.target.classList.contains('slip-editor-input')) {
                resizeSlipEditorTextarea(event.target);
            }
        },
        resizeSlipEditorTextarea: function (element){
            element.style.height = 'auto';
            element.style.height = element.scrollHeight + 'px';
        },
        copyTextToClipboard: function(text){
            return navigator.clipboard.writeText(text)
                .then(() => true)
                .catch((error) => {
                    console.error('复制失败：', error);
                    return false;
                });
        }
    }

    document.addEventListener('input', bammemo.autoResizeSlipEditorTextarea)
</script>

@code {


}