.site-nav-default, .site-nav-default ::deep .bammemo-nav-menu-wrap {
    height: 100dvh;
}

    .site-nav-default ::deep .bammemo-site-nav-app-bar {
        height: 100%;
        padding: 1rem 0 0 0;
        border-right: 1px solid transparent;
        display: block;
        background: var(--neutral-layer-3);
        --neutral-foreground-rest: var(--accent-fill-rest);
    }

        .site-nav-default ::deep .bammemo-site-nav-app-bar:hover {
            border-right: 1px solid var(--neutral-stroke-active);
            box-shadow: 0 0 5px 0 var(--neutral-stroke-active);
        }


::deep .bammemo-site-nav-mobile-title {
    /* text-lg */
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    margin: 0;
    padding: 0;
}

::deep fluent-dialog .fluent-dialog-body .bammemo-nav-menu-wrap {
    height: 100%;
}

::deep fluent-dialog .fluent-dialog-footer {
    display: none;
}


@media (max-width: 600px) {
    .site-nav-default  {
        display: none;  
    }
}
 