@implements IDialogContentComponent<string>
@rendermode InteractiveAuto

<FluentDialogHeader ShowDismiss="true" Style="align-items: center;">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <h1 class="bammemo-site-nav-mobile-title">呼呼小笼包的博客</h1>
    </FluentStack>
</FluentDialogHeader>

<FluentDialogBody>
    <BammemoNavMenu Type="BammenoNavMenuType.Menu" />
</FluentDialogBody>

<FluentDialogFooter>
    &nbsp;
</FluentDialogFooter>

@code {
    public string Content { get; set; } = default!;
    private bool expanded = true;
}
