@using Microsoft.FluentUI.AspNetCore.Components.DesignTokens
@rendermode InteractiveAuto
@inject IDialogService DialogService
@inject IJSRuntime JSRuntime
@inject GlobalState GlobalState
@inject NeutralFillLayerRest NeutralFillLayerRest
@inject DisabledOpacity DisabledOpacity

<div class="site-nav">
    <div class="site-nav-default">
        <BammemoNavMenu Type="BammenoNavMenuType.AppBar" />
    </div>

    <nav class="site-nav-mobile">
        <FluentStack Orientation="Orientation.Horizontal" Style="align-items: center;">
            <FluentButton BackgroundColor="var(--neutral-layer-2)"
                          Color="var(--accent-foreground-rest)"
                          OnClick="@OpenPanelRightAsync"
                          IconStart="new Icons.Regular.Size24.Navigation()" />

            <h1 class="bammemo-site-nav-mobile-title">呼呼小笼包的博客</h1>

            <FluentSpacer />

            <FluentButton BackgroundColor="var(--neutral-layer-2)"
                          Color="var(--accent-foreground-rest)"
                          OnClick="@OpenPanelRightAsync"
                          IconStart="new Icons.Regular.Size24.PanelRight()" />
        </FluentStack>
    </nav>

    <FluentDialogProvider />
</div>

@code {
    private bool expanded = true;
    private IDialogReference? _dialog;



    protected override void OnInitialized()
    {
        // GlobalState.OnChange += async () => await JSRuntime.InvokeVoidAsync("bammemo.color.delayedApply");
    }

    private async Task OpenPanelRightAsync()
    {
        _dialog = await DialogService.ShowPanelAsync<BammemoNavPanel>(new DialogParameters
            {
                Alignment = HorizontalAlignment.Left,
                ShowTitle = false,
                PrimaryActionEnabled = false,
                SecondaryActionEnabled = false,
                DialogType = DialogType.Panel
            });
        DialogResult result = await _dialog.Result;
    }

}
