@rendermode InteractiveAuto

<div class="bammemo-card @Class" style="@Style" @attributes="attributes">
    @ChildContent
</div>

@code {
    private Dictionary<string, object> attributes = new();

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Style { get; set; }

    [Parameter]
    public bool HoverBorder { get; set; }

    [Parameter]
    public bool HoverShadow { get; set; }

    [Parameter]
    public bool Border { get; set; }

    [Parameter]
    public bool Shadow { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnParametersSet()
    {
        attributes["border"] = Border;
        attributes["shadow"] = Shadow;
        attributes["hover-border"] = HoverBorder;
        attributes["hover-shadow"] = HoverShadow;
    }
}
