.bammemo-markdown-section-wrap {
    width: 100%;
}

.bammemo-markdown-section-content ::deep img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: calc(var(--layer-corner-radius) * 2px);
}

    .bammemo-markdown-section-content ::deep img:hover {
        box-shadow: 0 0 5px 0 var(--neutral-stroke-active);
    }
