@rendermode InteractiveAuto
@inject IJSRuntime JS

<div class="bammemo-footer">
    <FluentFooter>
        Render mode @(OperatingSystem.IsBrowser() ? "WebAssembly" : "Server")<br />
        .NET Version @(System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription)
    </FluentFooter>
</div>

@code {

}
