@using Microsoft.FluentUI.AspNetCore.Components
@rendermode InteractiveAuto

<div class="bammemo-no-data-wrap">
    <BammemoCard>
        <FluentStack Class="bammemo-no-data-content-wrap"
                     Orientation="Orientation.Vertical"
                     HorizontalAlignment="HorizontalAlignment.Center">
            <FluentIcon Value="@(new Microsoft.FluentUI.AspNetCore.Components.Icons.Color.Size48.Beach())" Color="@Color.Neutral" Width="128px" />
            <FluentLabel Typo="Typography.PageTitle">
                No data found
            </FluentLabel>
        </FluentStack>
    </BammemoCard>
</div>