.bammemo-card {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--neutral-layer-floating);
    background-color: var(--neutral-layer-floating);
    border-radius: calc(var(--layer-corner-radius) * 1px);
}

    .bammemo-card:hover {
        border: 1px solid var(--neutral-stroke-hover);
    }

    .bammemo-card[hover-shadow]:hover {
        box-shadow: 0 0 5px 0 var(--neutral-stroke-hover);
    }