.bammemo-footer {
    width: 100%;
}

::deep footer {
    width: 100%;
    justify-content: center;
}

::deep .bammemo-footer-environment-info-wrap fluent-divider, ::deep .bammemo-footer-filing-number-links-wrap fluent-divider {
    height: 1rem;
    border-color: var(--bammemo-border-primary);
}

::deep .bammemo-footer-filing-number-links-wrap fluent-anchor::part(control) {
    text-decoration: none;
    color: var(--bammemo-text-primary);
}
