@page "/admin"
@rendermode InteractiveWebAssembly
@inject ISlipService SlipService

<PageTitle>Admin 123</PageTitle>

<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" sm="6">
        <FluentTextArea></FluentTextArea>
        <div>asdfasdf</div>
        <div>asdfasdf</div>
        <div>asdfasdf</div>

    </FluentGridItem>
    <FluentGridItem sm="2" HiddenWhen="GridItemHidden.Xs">
        <div>asdfasdf</div>
        <div>asdfasdf</div>
        <div>asdfasdf</div>
        <div>asdfasdf</div>
    </FluentGridItem>
</FluentGrid>

@code {

    // protected override async Task OnInitializedAsync()
    // {

    // }

}