@page "/admin"
@rendermode InteractiveWebAssembly
@inject ICommonSlipService commonSlipService

<PageTitle>Admin 123</PageTitle>

<FluentGrid Justify="JustifyContent.Center">
    <FluentGridItem xs="12" lg="8" xl="6">
        <FluentStack Orientation="Orientation.Vertical">
            <FluentCard>
                <FluentStack Orientation="Orientation.Vertical">
                    <FluentTextArea Rows="5" style="width: 100%;" />
                    <FluentToolbar Style="width: 100%;">
                        <FluentButton Appearance="Appearance.Accent">Accent Button</FluentButton>
                        <FluentButton Appearance="Appearance.Accent">Accent Button</FluentButton>
                        <FluentButton Appearance="Appearance.Accent">Accent Button</FluentButton>
                    </FluentToolbar>
                </FluentStack>
            </FluentCard>

            <div>
                @foreach(var s in slips)
                {
                    <div>
                        @s.Id | @s.Content
                    </div>
                }
            </div>

        </FluentStack>
    </FluentGridItem>

    <FluentGridItem lg="3" HiddenWhen="GridItemHidden.MdAndDown">
        <div>asdfasdf</div>
        <div>asdfasdf</div>
        <div>asdfasdf</div>
        <div>asdfasdf</div>
    </FluentGridItem>
</FluentGrid>

@code {
    private List<ListSlipDto> slips = new List<ListSlipDto>();

    protected override async Task OnInitializedAsync()
    {
        slips.AddRange(await commonSlipService.ListAsync(null));
    }

}