::deep .bammemo-site-link-grid {
    width: 1180px;
    margin: 0 auto;
}

    ::deep .bammemo-site-link-grid.grid-full {
        width: 100%;
    }

::deep .bammemo-site-link-card h4, ::deep .bammemo-site-link-card h6 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::deep a {
    width: 100%;
    text-decoration: none;
} 
