@rendermode InteractiveAuto
@inject IDialogService DialogService

<div class="navmenu">
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="Collapsible" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="CustomToggle">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>

@*             <FluentNavLink Href="admin" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Admin</FluentNavLink>
            <FluentNavLink Href="read" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Read</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
 *@
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;

    [Parameter]
    public bool Collapsible { get; set; }

    [Parameter]
    public bool CustomToggle { get; set; }
}
